@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	background: gray;
	font-family: 'Raleway', sans-serif;
}

div{
	width: 20%;
	margin: 10px;
	border: 15px;
	padding: 20px;
	color: white;
	height: 200px;

}

.caja1{
	background: blue;
	overflow: auto;
	display: block;
}

.caja2{
	background: red;
	position: relative;
	top:20px;
	left: 50px;
	overflow: auto;
	display: inline-block;
}

.caja3 {
	background: green;
	overflow: auto;
	display: inline;
}